* {

    margin: 0;
    padding: 0;

}

p {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #495279;
    font-size: 150%;

}

html, body {

    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

section {

    display: table;
    width: 100%;
    height: 100%;
    margin: 0;

}

.row {

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#row0 {

    height: 50vh;

}

#row1 {

    height: 50vh;

}

.cell {

    display: table-cell;
    width: 25%;
    height: 100%;
    border: 0px solid #000;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    
}

#fileSelectPanel {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

#fileSelectButton {

    width: 25%;
    height: 30%;
    border: 2px solid gray;
    border-radius: 5px;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.noFileSelected {

    background-color: #f57373;
    font-size: 200%;
    color: darkred;

}

.loading {

    background-color: #4d97ff;
    font-size: 200%;
    color: #0b428f;

}

#loading-bar {

    display: none;
    width: 80%;
    height: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    
}

.loader {
    
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: none;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #0c3e80 #0c3e80;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
      
      

#progress {

    background-color: #0c3e80;
    height: 100%;
    width: 0%;
    font-size: 250%;
    color: #0c3e80;

}

.fileSelected {

    background-color: #40c253;
    font-size: 200%;
    color: darkgreen;

}

#trimPanel {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

#timelineContainer {

    width: 90%;
    height: 90%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

#video-container {
    width: 80%;
    height: 20%;
    border: 2px solid cyan;
    display: flex;
    align-items: center;
    justify-content: center;
}

#video-preview {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}

#sliders {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.slider {
    width: 10px;
    height: 100%;
    background-color: green;
    position: absolute;
    cursor: pointer;
}

#start-slider {
    left: 0;
}

#end-slider {
    right: 0;
}

#timecodes {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.timecode {
    width: 50px;
    height: 50px;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

#current-frame {
    width: 50%;
    height: 50%;
    border: 2px solid purple;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}